.button-jobs {background-color: #4b4a4a; 
  color: rgb(209, 74, 74);
  text-align: center;
} /* Gray */ 

.jobs-btn{
  background-color: rgb(237, 240, 237);
  color: #0a0a0a;
  padding: 10px 150px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.favorites-btn{
  background-color: rgb(237, 240, 237);
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 10px 150px;
  font-size: 16px;
  cursor: pointer;
}

button:focus {
  background-color: rgb(104, 104, 102);
}