.btn{
    background-color: rgb(237, 240, 237);
    color: #0a0a0a;
    border: black;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  .rounded-btn{
    background-color: white;
    padding: 12px 16px;
    font-size: 10px;
    border-radius: 25px;
  }

  